<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <h2>Sign up</h2>
    <div>
        <form th:object="${user}" th:action="@{/register}" method="post">

            <input type="hidden" th:field="*{id}"/>

            <p>Login</p>
            <input type="text" th:field="*{email}"/>

            <p>Password</p>
            <input type="text" th:field="*{password}"/>
            <br/>
            <button type="submit" style="margin-top: 20px">Sign up</button>
        </form>
    </div>
    <div>
        <p>Have an account? Login <a href="/auth">there</a>.</p>

    </div>
</div>

</body>
</html>