<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>Users List</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </table>
    </div>
    <div>
        <a href="/register">New User</a>
    </div>
    <div>
        <a href="/auth">Login</a>
    </div>
</div>

</body>
</html>